<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 的值是当前映射文件对应的类的完整路径 -->
<mapper namespace="com.myybatis.dao.EmpDao">

    <!-- 查询所有  id：和dao接口中的方法名一致
     -->
    <select id="getList" resultType="Emp">
	    select * from emp
	 </select>
    <!-- 增加 -->
    <insert id="addEmp" parameterType="Emp">
	 	insert into emp(empno,ename,sal) values(#{empno},#{ename},#{sal})
	 </insert>
    <!--删除  -->
    <delete id="delEmp" parameterType="int">
	   delete from emp where empno=#{value}
	</delete>

    <select id="getEmpById" resultType="Emp" parameterType="int">
		select * from emp where empno=#{id}
	</select>

    <update id="editEmp"  parameterType="Emp">
		update emp set ename=#{ename} where empno=#{empno}
	</update>


</mapper>
